<div class="row">
  <div class="col">
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        <li class="page-item">
          <a class="page-link" (click)="changePageSize((pageSize = 5))">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="changePageSize((pageSize = 10))">10</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="changePageSize((pageSize = 20))">20</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
